# Environment variables
.env
.env.production
.env.local
.env.*.local
! .env.example

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Prisma
/prisma/migrations/*/migration.sql
!/prisma/migrations/*/migration_lock.toml

# Editor
.vscode
.idea
*.swp
*.swo
